
/.vs/*
/bin/*
/int/*
/dep/cimgui/.github/*
/dep/cimgui/backend_test/*
/dep/cimgui/generator/*
!/dep/cimgui/generator/output/cimgui_impl.h
/dep/cimgui/imgui/.github
/dep/cimgui/imgui/backends/*
!/dep/cimgui/imgui/backends/imgui_impl_opengl3.h
!/dep/cimgui/imgui/backends/imgui_impl_opengl3_loader.h
!/dep/cimgui/imgui/backends/imgui_impl_opengl3.cpp
!/dep/cimgui/imgui/backends/imgui_impl_sdl3.h
!/dep/cimgui/imgui/backends/imgui_impl_sdl3.cpp
/dep/cimgui/imgui/examples
/dep/SDL3/docs
/dep/SDL3/cmake
/dep/cglm/win/.vs/
/dep/cglm/win/cglm/x64/*
/dep/cglm/win/x64/*
/dep/cglm/.readthedocs.yaml
/dep/cglm/cglm.podspec
/dep/cglm/win/cglm-test/x64/Release
/dep/nfd/docs/
/dep/nfd/build/premake5.lua
/dep/nfd/build/dont_run_premake.txt
/dep/nfd/build/vs2010/.vs/
/dep/nfd/build/lib/
/dep/nfd/build/obj/
*.png
