################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CArtProgram
/bin/Debug-x64-Windows
/int/Debug-x64-Windows
/dep/cimgui/.github/workflows/build.yml
/dep/cimgui/backend_test/example_glfw_dx11
/dep/cimgui/backend_test/example_glfw_opengl3
/dep/cimgui/backend_test/example_sdl_vulkan
/dep/cimgui/generator/output/definitions.json
/dep/cimgui/generator/output/definitions.lua
/dep/cimgui/generator/output/impl_definitions.json
/dep/cimgui/generator/output/impl_definitions.lua
/dep/cimgui/generator/output/overloads.txt
/dep/cimgui/generator/output/structs_and_enums.json
/dep/cimgui/generator/output/structs_and_enums.lua
/dep/cimgui/generator/output/typedefs_dict.json
/dep/cimgui/generator/output/typedefs_dict.lua
/dep/cimgui/generator/config_generator.lua
/dep/cimgui/generator/cpp2ffi.lua
/dep/cimgui/generator/generator.bat
/dep/cimgui/generator/generator.lua
/dep/cimgui/generator/generator.sh
/dep/cimgui/generator/json.lua
/dep/cimgui/imgui/.github
/dep/cimgui/imgui/backends/imgui_impl_allegro5.cpp
/dep/cimgui/imgui/backends/imgui_impl_allegro5.h
/dep/cimgui/imgui/backends/imgui_impl_android.cpp
/dep/cimgui/imgui/backends/imgui_impl_android.h
/dep/cimgui/imgui/backends/imgui_impl_dx10.cpp
/dep/cimgui/imgui/backends/imgui_impl_dx10.h
/dep/cimgui/imgui/backends/imgui_impl_dx11.cpp
/dep/cimgui/imgui/backends/imgui_impl_dx11.h
/dep/cimgui/imgui/backends/imgui_impl_dx12.cpp
/dep/cimgui/imgui/backends/imgui_impl_dx12.h
/dep/cimgui/imgui/backends/imgui_impl_dx9.cpp
/dep/cimgui/imgui/backends/imgui_impl_dx9.h
/dep/cimgui/imgui/backends/imgui_impl_glfw.cpp
/dep/cimgui/imgui/backends/imgui_impl_glfw.h
/dep/cimgui/imgui/backends/imgui_impl_glut.cpp
/dep/cimgui/imgui/backends/imgui_impl_glut.h
/dep/cimgui/imgui/backends/imgui_impl_metal.h
/dep/cimgui/imgui/backends/imgui_impl_metal.mm
/dep/cimgui/imgui/backends/imgui_impl_opengl2.cpp
/dep/cimgui/imgui/backends/imgui_impl_opengl2.h
/dep/cimgui/imgui/backends/imgui_impl_osx.h
/dep/cimgui/imgui/backends/imgui_impl_osx.mm
/dep/cimgui/imgui/backends/imgui_impl_sdl2.cpp
/dep/cimgui/imgui/backends/imgui_impl_sdl2.h
/dep/cimgui/imgui/backends/imgui_impl_sdlrenderer2.cpp
/dep/cimgui/imgui/backends/imgui_impl_sdlrenderer2.h
/dep/cimgui/imgui/backends/imgui_impl_sdlrenderer3.cpp
/dep/cimgui/imgui/backends/imgui_impl_sdlrenderer3.h
/dep/cimgui/imgui/backends/imgui_impl_wgpu.cpp
/dep/cimgui/imgui/backends/imgui_impl_wgpu.h
/dep/cimgui/imgui/backends/imgui_impl_win32.cpp
/dep/cimgui/imgui/backends/imgui_impl_win32.h
/dep/cimgui/imgui/examples
/dep/SDL3/docs
/dep/SDL3/cmake
